<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">-->
<html>
  <head>
    <title>By App - Turning cities into villages</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<!-- <script type="text/javascript" src="/{{STATIC_URL}}jquery-1.7.2.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="/{{ STATIC_URL }}twboot/less/bootstrap1.css">
	<style>
	
		
		.background {
		  background-image: url(/{{ STATIC_URL }}bg.png);
		}
	
		body {
			background-image: url(/{{ STATIC_URL }}bg_light.gif);
		}
		.hero-unit {
			background-image: url(/{{ STATIC_URL }}front_bg.png);
			max-width: 920px;
		}
		
	</style>
    <!--- <link rel="stylesheet/less" type="text/css" href="/{{ STATIC_URL }}twboot/less/bootstrap.less"> -->
	<!---<script src="/{{ STATIC_URL }}less-1.2.1.min.js" type="text/javascript"></script>-->
	
  </head>

  <body>
    
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
		  	appId: {{ APP_ID}}, 
			status: true,
			cookie: true,
			xfbml: true,
			frictionlessRequests: true,
			useCachedDialogs: true,
			oauth: true
		
	    /*  appId      : {{ APP_ID }}, // App ID
	      channelUrl : 'http://www.stark-moon-3372.herokuapp.com/channel/', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML*/
	    });

	    // Additional initialization code here
	  };

	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     d.getElementsByTagName('head')[0].appendChild(js);
	   }(document));
	</script>
	<div class="background">
	{% if messages %}
	    {% for msg in messages %}
	        <p class="error">{{ msg.message }} ({{ msg.extra_tags }})</p>
	    {% endfor %}
	  {% endif %}
	  {% if error_msg %}
	    <p>Details:</p>
	    <p class="error">{{ error_msg }}</p>
	  {% endif %}
	<section id="description">
		<div> 

		</div>
{% if user.is_authenticated %}
	<div class="container-fluid">
		<div class="row-fluid">
			<a class="by red" href="/">By</a>
		</div>
{% endif %}
     {% block content %}{% endblock %}

</div><!-- Ends container-fluid -->
</div><!-- Ends div "background" -->
{% block facebook %}{% endblock %}
<div class="container-fluid">
	<div class="span12">
		<footer class="footer">
			
			<table>
				<tr>
					{% if user.is_authenticated %}
					<td style="width: 57px">
						<a href="/settings">Settings</a>
					</td>
					<td>
						<a rel="nofollow" class="logout" href="/logout/">Logout</a>&nbsp;
					</td>
					{% endif %}
					<td>
						<a href="/about">About</a>&nbsp;
					</td>
					<td>
						<a href="/legal">Legal</a>&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan=4><p class="cleargreen">&copy; By App 2012</p>
					</td>
				</tr>
			</table>
			
		</footer>
	</div>
</div>
<script type="text/javascript">
function sendRequestToRecipients(id) {
  FB.ui({method: 'apprequests',
    message: "wants to see when you're up for something! Join By and you can easily meet more often! By is the easiest way to see if any of your friends are up for doing something at a specific time.",
    to: id,
  }, requestCallback);

window.scrollTo(0, 0);
}


function sendRequestViaMultiFriendSelector() {
  FB.ui({method: 'apprequests',
    message: "Hi! I'd like to be able to see when you're up for something. Join By and we can easily meet more often! By is the easiest way to see if any of your friends are up for doing something at a specific time.",
  }, requestCallback);

}

//Callback is required
function requestCallback(response) {
    // Handle callback here
  }
</script>
  </body>
</html>
