<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">-->
<html>
  <head>
    <title>By App - Tell your friends that you're up for something</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Dosis:300,400|Poiret+One|Norican|Chelsea+Market' rel='stylesheet' type='text/css'>

	<!-- <script type="text/javascript" src="/{{STATIC_URL}}jquery-1.7.2.min.js"></script> -->
{% if settings.DEBUG == True %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}twboot/less/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}twboot/less/bootstrap-responsive.css">
{% else %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}twboot/less/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}twboot/less/bootstrap-responsive.css">
{% endif %}
	<style>
	
		
	/*	.background {
		  background-image: url(/{{ STATIC_URL }}bg.png);
		}*/
	/*
		body {
			background-image: url(/{{ STATIC_URL }}bg_light.gif);
		}*/
		.bgpic {
			background-image: url({{ STATIC_URL }}front_bg.png);
			/*max-width: 920px;*/
		}
		
	</style>
    <!--- <link rel="stylesheet/less" type="text/css" href="/{{ STATIC_URL }}twboot/less/bootstrap.less"> -->
	<!---<script src="/{{ STATIC_URL }}less-1.2.1.min.js" type="text/javascript"></script>-->
	
  </head>

  <body>
	
<div id="wrapp">
    
	<div id="fb-root"></div>
	
{% if user.is_authenticated %}
	<div class="container-fluid">
		<div class="row-fluid">
			<a class="by royalblue" href="/">By</a>
		</div>
{% endif %}
<div class="background">
{% if messages %}
    {% for msg in messages %}
        <p class="error">{{ msg.message }} ({{ msg.extra_tags }})</p>
    {% endfor %}
  {% endif %}
  {% if error_msg %}
    <p>Details:</p>
    <p class="error">{{ error_msg }}</p>
  {% endif %}
<section id="description">
	<div> 
     {% block content %}{% endblock %}

</div><!-- Ends container-fluid -->
</div><!-- Ends div "background" -->
</div>
</div><!-- ends div "wrapp" -->
{% block facebook %}{% endblock %}
<div class="pusherdiv">It's an attitude thing and everything affects it.
	</div>
<div class="navbar footer-bottom">
	<div class="navbar-inner">
		<div class="container">
		<footer class="footer">
			
			<table>
				<tr>
					<td>
						<a id="feedback" href="/feedback"><b>Feedback</b></a>
					</td>
					{% if user.is_authenticated %}
					<td style="width: 57px">
						<a href="/settings">Settings</a>
					</td>
					<td>
						<a rel="nofollow" class="logout" href="/logout/">Logout</a>&nbsp;
					</td>
					{% endif %}
					<td>
						<a href="/about">Aboutt</a>&nbsp;
					</td>
					<td>
						<a href="/legal">Legal</a>&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan=4><p class="cleargreen">&copy; By App 2012</p>
					</td>
				</tr>
			</table>
			
		</footer>
		<div>
	</div>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
	  	appId: {{ APP_ID}}, 
		status: true,
		cookie: true,
		xfbml: true,
		frictionlessRequests: true,
		useCachedDialogs: true,
		oauth: true
	
    /*  appId      : {{ APP_ID }}, // App ID
      channelUrl : 'http://www.stark-moon-3372.herokuapp.com/channel/', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML*/
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>
<script type="text/javascript">
function sendRequestToRecipients(id) {
  FB.ui({method: 'apprequests',
    message: "Meet more friends. By is the app where you can tell your friends that you're up for something.",
    to: id,
  }, requestCallback);

window.scrollTo(0, 0);
}


function sendRequestViaMultiFriendSelector() {
  FB.ui({method: 'apprequests',
    message: "Meet more friends. By is the app where you can tell your friends that you're up for something.",
  }, requestCallback);

}

//Callback is required
function requestCallback(response) {
    // Handle callback here
  }
</script>
  </body>
</html>
