{% extends "base.html" %}

{% block heading %}{% endblock %}

{% block content %}
{% if messages %}
    {% for msg in messages %}
        <p class="error">{{ msg.message }} ({{ msg.extra_tags }})</p>
    {% endfor %}
  {% endif %}
  {% if error_msg %}
    <p>Details:</p>
    <p class="error">{{ error_msg }}</p>
  {% endif %}
<section id="description">
	<h1>Meet your friends more</h1>
<div> 
  <a rel="nofollow" class="logout" href="/logout/">Logout</a>
</div>

{% if not user.get_profile.is_upfo %}

<button class="btn btn-large btn-primary" onClick="window.location='/turn'">
	I'm up for something</button>
{% else %}
<h3>You're up for something!</h3>
<h6>Registered</h6>
	<button class="btn btn-large btn-success" onClick="window.location='/turn'">
		Click to cancel</button>
{% endif %}
	
	
	</button>
<div class="row-fluid">
<div class="span12">
<p>I want you to meet more of your friends more often. Like in a village. Just press the blue button and let your friends know that you're up for something. You need to log-in with facebook first. We will never post anything to Facebook without your approval. </p>
</div>
</div>
</section>
<div>
	<h3>Your friends that are available now</h3>
	<table class="table table-condensed">
		{% for friend in upfos %}
		<tr><td>{{ friend.name }}</td></tr>
		{% endfor %}
	</table>
	<h3>Friends already using By:</h3>
	<table class="table table-condensed">
		{% for friend in users %}
		<tr><td>{{ friend.name }}</td></tr>
		{% endfor %}
	</table>
	<h3>Friends not yet on By:</h3>
	<table class="table table-condensed">
		{% for friend in nonusers %}
		<tr><td>{{ friend.name }}</td></tr>
		{% endfor %}
	</table>
</div>
<div>
{% if social_auth.associated %}
  <h3>Disconnect facebook</h3>
  <ul>
  {% for type, accounts in social_auth.associated.items %}
    {% for account in accounts %}
    <li>
        <span class="disconnect"><a href={% url socialauth_disconnect_individual account.provider account.id %}>{{ account.provider|title }} (ID {{ account.id }})</a></span>
    </li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endif %}
{% endblock %}
