<html>
<head>
  <title>The Byy - The easiest way to meet your friends more often</title>
<link rel="stylesheet" type="text/css" href="/{{ STATIC_URL }}twboot/less/bootstrap1.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
	<h1 class="blue">The Byy</h1>
	<h3 class="gray">The easiest way to meet your friends more often</h3>
	<p>Have you ever wanted to do something but you didn't know who to call? You might have called a couple of friends but they were occupied?</p>
	<p>Byy solves the problem of finding your friends that are up for something on a specific moment</p>
	<h4 class="gray">How does it work?</h4>
	<p>You just log in with Facebook and click the "I'm up for something"-button. Anyone of your Facebook contacts that has also clicked within one hour will be able to see that you're available. Your status will be "up for something" for one hour unless you cancel your status.</p>
	<p>When you're "up for something", you'll be able to see a list of your friends that are up for something. Then just call them up, message them on Facebook or go knock on their door.</p>
	<p>
		<a class="btn-large btn-success" href="http://www.stark-moon-3372.herokuapp.com">
			<i class="icon-heart icon-white">" Go to Byy"
		</a>
	</p>
	</div>
	</div>
</body>
</html>