<html>
<head>
  <title>Hello World</title>
</head>
<body>
	<div id="login">
	   <p><button onClick="loginUser();">Login</button></p>
	 </div>
	 <div id="logout">
	   <p><button  onClick="FB.logout();">Logout</button></p>
	 </div>

	<a href="#" onclick="sendRequest();">Send request</a><br>
	<script>
	function sendRequest() {
	  FB.ui({
	    method: 'apprequests',
	    message: 'invites you to learn how to make your mobile web app social',
	  }, 
	  function(response) {
	    console.log('sendRequest response: ', response);
	  });
	}
	</script>
	 <script>
	   function loginUser() {    
	     FB.login(function(response) { }, {scope:'email'});     
	     }
	 </script>
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '	377303882291538', // App ID
	      channelUrl : 'http://stark-moon-3372.herokuapp.com/channel.html', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });

	    FB.Event.subscribe('auth.statusChange', handleStatusChange);
	  };

	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document));
	</script>
	<script>
   function handleStatusChange(response) {
     document.body.className = response.authResponse ? 'connected' : 'not_connected';

     if (response.authResponse) {
       console.log(response);
       updateUserInfo(response);
     }
   }
 </script>
</body>
</html>