{% extends "base.html" %}

{% block content %}
<div class="background">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
			</div>
		</div>
		<div class="row-fluid">
    		<div class="span12">
				<div class="hero-unit">
					<div class="logo">
						<img style="height: 30px; width: 40px; margin-right: -10px; margin-top: 12px; float: right;" src="{{ STATIC_URL}}logo1.png"></img>
					</div>
						<h1>By</h1>
					
						<p>Who's up for something?</p>
						
						{% for name in social_auth.backends.oauth2 %}
						    <a class="fb_button fb_button_large" rel="nofollow" href="{% url socialauth_begin name %}"><span class="fb_button_text">Log in</span></a>
						  {% endfor %}
				</div>	
			</div>
		</div>
	</div>
</div>
<div class="stripe">
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h6>learn more<i class="icon-arrow-down"></i></h6>
		</div>
	</div>
	<div class="container-fluid">
		<div class="span4">
			<h2 class="blue">Meet more friends</h2>
			<p class="gray">What's better than meeting more friends? We think one of the problems that the large cities we live in today is that it's not easy enough to bump into friends. We want to change that. That's why we create By. It's the easiest way to tell your friends your up for something.</p> 
		</div>
		<div class="span4">
			<h2 class="blue">By?</h2>
			<p class="gray">By means village in Swedish. Back when most of us lived is smaller villages, it was easy to connect with people. You pretty much knew everyone. We want to bring some of that magic back.</p>
		</div>
		<div class="span4">
			<h2 class="blue">What does By do?</h2>
			<p class="gray">Basically By's just one button - The "I'm up for something button". You click the button and your Facebook friends who are also on By can immediately see that you're up for something. So check out who's up for something and give them a call. It's very early days for By, we're developing it every day. We'd love to hear your feedback as well, you can contact us easily by email at riku - at - seppa.la </p>
		</div>
	</div>	
</div>

  

</div>

{% endblock %}
 Whaaat?