
{% extends "base.html" %}

{% block heading %}{% endblock %}

{% block content %}


{% if not user.get_profile.is_upfo %}
	<div class="row-fluid">
		<p>
			<h4 class="cleargreen">Click to tell your friends you're up for something</h4>
		</p>
	</div>
	<div class="row-fluid">
<!--		<button class="btn2 btn-large btn-primary" id="upfo" onClick="window.location='/make_upfo/'">I'm up for something</button>-->
	<button class="btn2 btn-large btn-primary" id="upfo" onClick="window.location='/make_upfo/'" type= "submit">I'm up for something</button>

	</div>
	<div class="row-fluid">
		<div class="span12">
			<p>&nbsp;</p>
		</div>
	</div>

<div class="row-fluid">
	<div class="span12">
		<h3>Your friends that are up for something</h3>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<p>You have to be up for something to see if your friends are up for something.</p>
	</div>
</div>
	
{% else %}

<div class="row-fluid">
	<div class="span12">
		<p>
			<h4 class="cleargreen">You're up for something</h4>
		</p>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
	
		<p>
			<a href="#" class="blue" onclick="publishStory()"><h4 class="blue" style="text-decoration: underline;">Post to Facebook<h4></a><br>
		</p>
		
	</div>
</div>
	<div class="row-fluid">
		<div class="span12">
			<button class="btn btn-large btn-success" onClick="window.location='/del_upfo/'">
		Click to cancel</button>
		</div>
	</div>
	

	<div class="row-fluid">
		<div class="span12">
			<p>&nbsp;</p>
		</div>
	</div>

</div>

		<h3>Your friends that are up for something now</h3>
		<div class="row-fluid">
			<div class="span12">
				<table class="table-condensed">
				{% if upfos or users %}
					{% if upfos%}
						{% for friend in upfos %}
						<tr><td>{{ friend.name }}</td></tr>
						{% endfor %}
					{% else %}
						{% if users %}
						None of your friends are up for something right now. Maybe you should invite more friends? <a href="#" onclick='sendRequestViaMultiFriendSelector()'>Bulk Invite</a>
						{% else %}
None of your friends are on By yet! Invite them below or bulk-invite here: <a href="#" onclick='sendRequestViaMultiFriendSelector()'>Bulk Invite</a>
						{% endif %}
						
					{% endif %}
				{% else %}
					<p>None of your friends are on By yet! You can invite people from the list below person-by-person or bulk-invite people here: <a href="#" onclick='sendRequestViaMultiFriendSelector()'>Bulk Invite</a></p>
				{% endif %}
				
				</table>
			</div>
		</div>
{% if users %}
		<h3>Friends already using By:</h3>
	<div class="row-fluid">
		<div class="span12">
		<table class="table-condensed">
			{% for friend in users %}
			<tr><td>{{ friend.name }}</td></tr>
			{% endfor %}
		</table>
		</div>
		</div>
{% endif %}
		<h3>Friends not yet on By:</h3>
		<div class="row-fluid">
			<div class="span12">
		<table class="table-condensed">
			{% for friend in nonusers %}
		
			<tr><td><p>{{ friend.name }}</p></td><td>
				<!-- ><input type="button" class="btn btn-small btn-primary" onClick="sendRequestToRecipients({{ friend.id }}); return false;" value="Invite"><i class="icon-heart icon-white"></i>
				</input>-->
				<button class="btn btn-small btn-primary invite" onClick="sendRequestToRecipients({{ friend.id }}); return false;"><i class="icon-heart icon-white"></i> Invite</button>
				</input>
				</td>
				</tr>
			{% endfor %}
		</table>
		</div>
	</div>
	
{% endif %}

{% block dynamic %}{% endblock %}    

<script>
function publishStory() {
  FB.ui({
    method: 'feed',
    name: "I'm using By to meet more friends in real life",
    caption: "Ever wonder which of your friends are free to do stuff?",
    description: "By let's you see who's up for something just by clicking a button. See who's available. Call them and meet up",
    link: 'https://stark-moon-3372.herokuapp.com',
    picture: 'https://s3.amazonaws.com/by_static/bylogo.png'
  }, 
  function(response) {
    console.log('publishStory response: ', response);
  });
  return false;
}
</script>
{% endblock %}
