
{% extends "base.html" %}

{% block heading %}{% endblock %}

{% block content %}


{% if not user.get_profile.is_upfo %}
	<div class="row-fluid">
		<p>
			<h4 class="gray">Click to tell your friends you're up for something</h4>
		</p>
	</div>
	<div class="row-fluid">
<!--		<button class="btn2 btn-large btn-primary" id="upfo" onClick="window.location='/make_upfo/'">I'm up for something</button>-->
	<button class="btn2 btn-large btn-primary" id="upfo" onClick="window.location='/make_upfo/';sendToMix()" type= "submit">I'm up for something</button>

	</div>
	<div class="row-fluid">
		<div class="span12">
			<p>&nbsp;</p>
		</div>
	</div>

<div class="row-fluid border">
	<div class="span12">
		<p class="red">You have to be up for something to see if your friends are up for something.</p>
	</div>
</div>
	
{% else %}

<div class="row-fluid">
	<div class="span12">
		<p>
			<h4 class="gray">You're up for something. Status is automatically changed to not up for something in 1 hour. You can also cancel yourself.</h4>
			<h3 class=>
		</p>
	</div>
</div>


	<div class="row-fluid">
		<div class="span12">
			<button class="btn btn-large btn-success" onClick="window.location='/del_upfo/'">
		Cancel</button>
		</div>
	</div>
	
	<div style="margin-top:10px;" class="row-fluid">
		<div class="span12">

			<p>
				<a href="#" class="royalblue" onclick="publishStory()"><h4 style="text-decoration: underline;">Post to Facebook<h4></a>
			</p>

		</div>
	</div>
	

	<div class="row-fluid">
		<div class="span12">
			<p>&nbsp;</p>
		</div>
	</div>

</div>

		<h3 class="">Your friends that are up for something now</h3>
		<div class="row-fluid border">
			<div class="span12">
				<table class="table-condensed">
				{% if upfos or users %}
					{% if upfos%}
						{% for friend in upfos %}
						<tr class="people"><td>{{ friend.name }}</td></tr>
						{% endfor %}
					{% else %}
						{% if users %}
						<p>There's no one here? Maybe you should invite more friends? <a class="royalblue" href="#" onclick='sendRequestViaMultiFriendSelector()'>Choose who to invite</a></p>
						{% else %}
<p>None of your friends are on By yet! <a class="royalblue" href="#" onclick='sendRequestViaMultiFriendSelector()'>Choose who to invite</a></p>
						{% endif %}
						
					{% endif %}
				{% else %}
					<p>None of your friends are on By yet! <a class="royalblue" href="#" onclick='sendRequestViaMultiFriendSelector()'>Choose who to invite</a></p>
				{% endif %}
				
				</table>
			</div>
		</div>
{% if users %}
		<h3>Friends already using By but not up for something now:</h3>
	<div class="row-fluid border">
		<div class="span12">
		<table class="table-condensed">
			{% for friend in users %}
			<tr class="people"><td>{{ friend.name }}</td></tr>
			{% endfor %}
		</table>
		</div>
		</div>
{% endif %}
		<h3>Friends not yet on By:</h3>
		<div class="row-fluid border">
			<div class="span12">
		<table class="table-condensed">
			{% for friend in nonusers %}
		
			<tr class="people"><td><p>{{ friend.name }}</p></td><td>
				<!-- ><input type="button" class="btn btn-small btn-primary" onClick="sendRequestToRecipients({{ friend.id }}); return false;" value="Invite"><i class="icon-heart icon-white"></i>
				</input>-->
				<button class="btn btn-small btn-primary invite" onClick="sendRequestToRecipients({{ friend.id }}); return false;"><i class="icon-heart icon-white"></i> Invite</button>
				</input>
				</td>
				</tr>
			{% endfor %}
		</table>
		</div>
	</div>
	
{% endif %}

{% block dynamic %}{% endblock %}    

<script>
function publishStory() {
  FB.ui({
    method: 'feed',
    name: "'Who's up for something?",
    caption: "By is the Swedish word for village.",
    description: "Back in the days when we lived in villages, we met people we knew all the time. We want it to be like that in the cities of today as well. That's why we created by",
    link: 'https://www.epicby.com',
    picture: 'https://s3.amazonaws.com/by_static/bylogo.png'
  }, 
  function(response) {
    console.log('publishStory response: ', response);
  });
  mixpanel.track("Story published");
  return false;
}

function sendToMix() {
	mixpanel.track("Changed to upfo");
}

$("#upfo").click(function() {
    // This sends us an event every time a user clicks the button
    mixpanel.track("Changed to upfo", {'id': {{ user.id }} }); 
});

</script>
{% endblock %}
