{% extends 'base.html' %}

{% block content%}
<div class="background">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">

	To quit by and destroy your data:
{% if social_auth.associated %}
  <ul>
  {% for type, accounts in social_auth.associated.items %}
    {% for account in accounts %}
    <li>
        <span class="disconnect"><a href={% url socialauth_disconnect_individual account.provider account.id %}>Disconnect {{ account.provider|title }}</a></span>
    </li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endif %}
</div><!-- background -->
</div><!-- span12 -->
</div><!-- rowfluid -->
</div><!-- Container-fluid -->
{% endblock %}