//
// Layout parts
// --------------------------------------------


// Container (centered, fixed-width layouts)
.background {
	background-image: url({{ STATC_URL }}bg.png)
//  background-image: url(http://127.0.0.1:8000/media/bg.png)
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  .clearfix();
}